/* Estilos para o body */
body {
  background: url(../../assets/Images/LoginPage-Img/BGloginPage.png) no-repeat center center fixed;
  background-size: cover;
}

/* Estilos para o container de login */
.containerLogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}

/* Estilos para os elementos da esquerda e direita */
.imageLeft,
.inputsRight {
  flex: 1;
  max-width: 30%;
  margin: 25px;
}

.inputsRight {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

/* Estilos para os contêineres de inputs */
.inputsContainer {
  margin-bottom: 20px;
}

.inputsContainer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.formInputs{
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Estilos para o botão de login */
.buttonLogin {
  width: 60%;
  padding: 10px;
  background-color: #1d9b58;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonLogin:hover {
  background-color: #0fa958;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

/* Estilos para o link "Esqueceu sua senha?" */
.forgotPasswordLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: right;
}

/* Estilos para o link "Criar conta" */
.createAccount {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: center;
}

/* Media query para telas menores que 768px */
@media screen and (max-width: 768px) {
  .containerLogin {
    flex-direction: column; /* Mudando a direção para um em cima do outro */
    height: auto;
    padding: 20px;
    align-items: center; /* Centralizando na horizontal */
  }

  .imageLeft,
  .inputsRight {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
