body{
  background: url(../../assets/Images/LandingPage-Img/LandingPageWeb.png)no-repeat center center fixed;  
  background-size: cover;
  background-repeat: no-repeat;
}


.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imageLeft,
.inputsRight {
  flex: 1;
  max-width: 30%;
}

.inputsRight {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.inputsContainer {
  margin-bottom: 20px;
}

.inputsContainer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.buttonLogin {
  width: 100%;
  padding: 10px;
  background-color: #1d9b58;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonLogin:hover {
  background-color: #0fa958;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.logo {
  cursor: pointer;
  border-radius: 20px;
  height: 100%;
  max-width: 100%;
}
.forgotPasswordLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: right;
}
.createAccount{
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .containerLogin {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .imageLeft,
  .inputsRight {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
