.bg {
    background-color: #D9D9D9;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative; 
    z-index: 1; 
}

.rectangleHeader {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 40rem;; 
    height: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}

.ball {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%; /* Isso faz com que o elemento seja um círculo */
    display: inline-block; /* Para que o elemento não quebre a linha */
}


.rectangleHeader h1 {
    font-size: 30px;
    color: #170F49; 
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
}

.rectangleContent {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 40rem;; 
    height: 40rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}

.button {
    background-color: #0693FA;
    color: white;
    height: 2.5rem;
    width: 13rem;
    font-size: 18px;
    border-radius: 20px;
    padding: 5px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
    border: 2px solid transparent;
    text-align: center; 
}


.custom-header {
    font-size: 22px;
    color: #0693FA; 
}





