.bold-weight {
    font-weight: 600;
}
.color-text{
    color: #0e3975 !important;
}
.bg-questions-database {
    background-color: #d9d9d9;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative; 
    z-index: 1; 
}
.form-control-color {
    color: #0e3975 !important;
    font-weight: bold;
    font-size: 17px !important;
}
.height-input {
    height: 3rem;
}
.bg-questions-database-box {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #ffffffa4;
    padding: 1rem;
}
.color-text-correct-answer-bank{
    background-color: #ecf9f5;
    color: #0e4c36;
    padding: 5px 12px;
    font-size: 15px;
    min-height: 34px;
    border-left: 2px solid #a7e5cf;
}
.color-text-incorrect-answer-bank{
    background-color: #fff2f2;
    color: #910e23;
    padding: 5px 12px;
    font-size: 15px;
    min-height: 34px;
    border-left: 2px solid #f9a2b0;
}
.height-min-content{
    height: min-content;
}
.w-7 {
    width: 12% !important;
}
.cursor-auto{
    cursor: auto  !important;
}