body{
    background: url(../../assets/Images/LandingPage-Img/LandingPageWeb.png)no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .containerRecuperacao {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .itemsRecuperacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    min-width: 20%;
    margin-bottom: 10px;
  }

  .itemsRecuperacao input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    font-family: 'Besley', sans-serif;
  }

  .recoverCode{
    color: white;
    align-items: right;
    margin-left: 270px;
    font-size: 16px;
    font-family: 'Besley', sans-serif;
    cursor: pointer;
  }

  .recoverCode:hover{
    text-decoration: underline;
  }

  .buttonRecuperar {
    margin-top: 20px;
    width: 65%;
    padding: 10px;
    background-color: #1d9b58;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Besley', sans-serif;
    transition: background-color 0.3s ease;
    transition: transform 0.5s ease;
  }

  .buttonRecuperar:hover{
    background-color: #0fa958;
    transform: scale(1.1);
    transition: transform 0.5s ease;
  }

  .linkVoltar {
    color: white;
    text-decoration: underline;
    font-size: 16px;
    font-family: 'Besley', sans-serif;
  }



  @media screen and (max-width: 768px) {
    .itemsRecuperacao input{
      width: 180%;
    }
    .buttonRecuperar{
      width: 90%;
    }
    .recoverCode{
      margin-left: 0px;
    }
  }