.backgroundLogin {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../../../../assets/Images/LandingPage-Img/LandingPageWeb.png');
  }
  
  .containerLogin {
    display: flex;
    justify-content: center; /* Alinhar no centro horizontalmente */
    align-items: center; /* Alinhar no centro verticalmente */
    height: 100vh; /* Usando altura de viewport */

  }
  
  .imageLeft,
  .inputsRight {
    flex: 1; /* Para permitir que ambas as divs cresçam e ocupem o espaço disponível */
    max-width: 30%; /* Definir a largura máxima de cada div como 50% do container */
  }
  
  .inputsRight {
    width: 100%;
    max-width: 400px; /* Defina a largura máxima para evitar que o conteúdo se espalhe demais */
    margin-top: 20px; /* Adicione margem superior para separar da div imageLeft */
  }
  
  .inputsContainer {
    margin-bottom: 20px; /* Adicione margem inferior para separar os inputs do botão */
  }
  
  .inputsContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .buttonLogin {
    width: 100%;
    padding: 10px;
    background-color: #1d9b58;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonLogin:hover {
    background-color: #0FA958;
    transform:  scale(1.1);
    transition: transform 0.5s ease;
  }
  
  .logo {
    border-radius: 20px;
    height:  100%;
    max-width: 100%;
  }
  .forgotPasswordLink{
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    text-align: right;
  }
  /* Media query para telas menores */
  @media screen and (max-width: 768px) {
    .containerLogin {
      flex-direction: column; /* Mudar a direção para coluna */
      height: auto; /* Remover a altura fixa */
      padding: 20px; /* Adicionar algum espaço ao redor */
    }
  
    .imageLeft,
    .inputsRight {
      max-width: 100%; /* Definir a largura máxima como 100% para que cada div ocupe a largura total */
      margin-bottom: 20px; /* Adicionar espaço entre as divs */
    }
  }
  