.pageWrapperWelcome {
  background-color: white; 
  min-height: 100vh;
  box-sizing: border-box;
  position: relative; 
  z-index: -2;
}

.enfeiteLateral {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%; /* Largura responsiva */
  height: 100%;
  background-image: url('./assets/images/enfeiteLateral.svg');
  background-size: cover;
  z-index: -1; /* Define a camada abaixo de todos os outros elementos */
  opacity: 50%;

}


.buttonsHolder {
  display: flex;
  justify-content: center;
}

.twoButtons {
  background-color: #38bdf8;
  color: white;
  height: 62px;
  width: 300px;
  font-size: xx-large;
  border-radius: 5px;
  padding: 5px 50px;
  border: none;
  font-weight: 500;
  transition: 0.5s;
  border: 2px solid transparent;
  margin: 20px;
  margin-top: 40px;
}

.textsHolder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.textLeft {
  font-weight: 900;
  font-family: "Lato", sans-serif;
  color: #0E3975;
  font-size: 80px;
  line-height: 1.1;
  margin-top: 50px;
}

.textLeft span {
  display: block;
}

.textRight {
  font-weight: 500;
  margin-top: 60px;
  font-size: 27.5px;
  font-family: "Lato", sans-serif;
  color: #0E3975;
  line-height: 1.3;
  text-align: justify;
}

.enadexContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enadexContentText {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #0693FA;
  font-size: 28px;
  font-family: "Inter", sans-serif;
  margin-right: 40px;
  font-weight: 600;
}

.enadexContentButton {
  background-color: #0693FA;
  font-family: "Inter", sans-serif;
  color: white;
  border-radius: 100px;
  width: 220px;
  height: 70px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.5s;
  border: 2px solid transparent;
}

.enadexContentButton:hover {
  border-color: #0D4688;
  transition: 0.5s;
  transform:  scale(1.05);
}

.buttonIcon {
  width: 30px;
  margin-right: 10px;
}
