.pageWrapperSimulatedPanel {
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.userInfo {
  margin: 0 auto;
  max-width: 96%;
  min-height: 110px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
}

.userProfile {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex-grow: 1;
}

.profilePic {
  width: 90px;
  height: 90px;
  margin: 10px;
}

.userName {
  color: #161616;
  font-weight: bold;
  font-size: 18px;
}

.userLabels {
  display: flex;
  flex-wrap: wrap;
}
.mediaAcertos,
.simulatedsRealized {
  min-width: 120px;
  max-width: 300px;
  height: 30px;
  color: white;
  background-color: #0693fa;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.generateSimulated {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 18px;
}

.btnSimulated {
  background-color: #0693fa;
  color: white;
  height: 62px;
  width: 300px;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px 0px;
  border: none;
  font-weight: 500;
  transition: 0.5s;
  border: 2px solid transparent;
  margin: 20px;
  margin-top: 40px;
  cursor: pointer;
}

.btnSimulated:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.actionBarWrapper {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.checkboxContainer {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.FinishedSimulatedcheckboxInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.FinishedSimulatedcheckboxLabel {
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: relative;
  padding-left: 25px; 
  display: inline-block;
}

.FinishedSimulatedcheckboxLabel:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px; 
  height: 18px; 
  border: 2px solid #444;
  background-color: #fff; 
}

.FinishedSimulatedcheckboxInput:checked + .FinishedSimulatedcheckboxLabel:before {
  border-color: #0fa958; 
}

.FinishedSimulatedcheckboxInput:checked + .FinishedSimulatedcheckboxLabel:after {
  content: '\2713'; 
  font-size: 14px; 
  color: #000000; 
  position: absolute;
  top: 1px;
  left: 4px; 
}
.noResultsMessage {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  color: #888; /* Cor de texto cinza para uma aparência mais suave */
}

.searchBar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer input[type="checkbox"] {
  margin-right: 5px;
}
.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.searchIcon {
  position: absolute;
  left: 10px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.searchInput {
  width: 400px;
  padding: 8px 8px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s;
}

.searchInput:focus {
  border-color: #007bff;
}
.simulatedWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: auto;
  margin-top: 20px;
  width: calc(100% - 60px);
  max-width: 96%;
  border-radius: 10px;
}

.btnRealizedSimulated {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0fa958;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  transition: 0.5s;
  border: 2px solid transparent;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  font-size: 25px;
  margin-bottom: 0px;
  margin-bottom: 20px;
}

.simulatedText {
  font-size: 18px;
}

.simulatedInfo {
  display: flex;
  align-items: center;
}

.simulatedDate,
.simulatedQuestions {
  font-size: 18px;
  font-weight: bold;
}

.labelDateAndQuestions {
  font-size: 14px;
  margin-right: 10px;
  margin-left: 5px;
  background-color: white;
  border-radius: 10px;
  color: black;
  width: 90px;
  height: 25px;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .simulatedWrapper {
    width: calc(100% - 30px);
    max-width: 100%;
  }
  .simulatedText {
    font-size: 12px;
  }
  .simulatedDate {
    font-size: 12px;
  }
  .simulatedQuestions {
    font-size: 12px;
  }
  .labelDateAndQuestions {
    font-size: 12px;
  }
  .simulatedInfo {
    font-size: 12px;
  }
  .mediaAcertos,
  .simulatedsRealized {
    width: calc(80% - 10px);
    height: 30px;
    color: white;
    background-color: #0693fa;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
  }
  .generateSimulated {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    width: 100%;
    margin-right: 0px;
    text-align: center;
  }
  .userName {
    color: #161616;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
  }
  .searchBar {
    width: calc(100% - 30px);
    max-width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .simulatedWrapper {
    width: calc(100% - 30px);
    max-width: 100%;
  }
  .simulatedText {
    font-size: 12px;
  }
  .simulatedDate {
    font-size: 12px;
  }
  .simulatedQuestions {
    font-size: 12px;
  }
  .labelDateAndQuestions {
    font-size: 12px;
  }
  .simulatedInfo {
    font-size: 12px;
  }
  .mediaAcertos,
  .simulatedsRealized {
    width: calc(90% - 10px);
    height: 30px;
    color: white;
    background-color: #0693fa;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
  }
  .generateSimulated {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    width: 100%;
    margin-right: 0px;
    text-align: center;
  }
  .userName {
    color: #161616;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
  }
  .searchBar {
    width: calc(100% - 30px);
    max-width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .buttonsHolder {
    align-items: center;
    justify-content: center;
  }
  .twoButtons {
    width: 100%;
    height: 40px;

    font-size: 10px;
    margin: 10px;
  }
  .textsHolder {
    grid-template-columns: 1fr;
  }

  .textLeft {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
  }

  .textRight {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
  }
  .enadexContent {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
  .enadexContentText {
    width: 90%;
    text-align: center;
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
