.pageWrapperSimulatedPanel {
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.userInfo {
  margin: 0 auto;
  width: calc(100% - 60px);
  max-width: 96%;
  min-height: 110px; /* Alterei para min-height para garantir que o conteúdo não se sobreponha em telas menores */
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos dentro da .userInfo quebrem linha conforme necessário */
  justify-content: space-between; /* Distribui os elementos ao longo do eixo principal */
  align-items: center;
}

.userProfile {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex-grow: 1; /* Permite que o perfil ocupe o espaço restante */
}

.profilePic {
  width: 90px; /* Reduzi um pouco o tamanho da imagem */
  height: 90px; /* Mantive a altura */
  margin: 10px;
}

.userName {
  color: #161616;
  font-weight: bold;
  font-size: 18px; /* Reduzi um pouco o tamanho do nome de usuário */
}

.userLabels {
  display: flex;
}
.mediaAcertos,
.simulatedsRealized {
  width: calc(
    20% - 10px
  ); /* Ajustei a largura para ocupar metade do espaço disponível */
  height: 30px;
  color: white;
  background-color: #0693fa;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px; /* Reduzi um pouco o tamanho da fonte */
  margin-top: 10px; /* Adicionei margem superior para separar os elementos */
  padding: 5px;
  text-align: center;
}

.generateSimulated {
  display: flex;
  justify-content: flex-end; /* Alinha o botão à direita */
  margin-right: 10px; /* Ajustei a margem para alinhar com os outros elementos */
  margin-bottom: 18px;
}

.btnSimulated {
  background-color: #0693fa;
  color: white;
  height: 62px;
  width: 300px;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px 0px;
  border: none;
  font-weight: 500;
  transition: 0.5s;
  border: 2px solid transparent;
  margin: 20px;
  margin-top: 40px;
  cursor: pointer;
}

.btnSimulated:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.searchBarWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.searchBar {
  width: calc(100% - 60px);
  max-width: 96%;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-left: 15px;
  margin-right: 10px;
}

.searchInput {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
}
.simulatedWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: auto;
  margin-top: 20px;
  width: calc(100% - 60px);
  max-width: 96%;
  border-radius: 10px;
}

.btnRealizedSimulated {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0fa958;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  transition: 0.5s;
  border: 2px solid transparent;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  font-size: 25px;
  margin-bottom: 10px;
}

.simulatedText {
  font-size: 18px;
}

.simulatedInfo {
  display: flex;
  align-items: center;
}

.simulatedDate,
.simulatedQuestions {
  font-size: 18px;
}

.labelDateAndQuestions {
  font-size: 12px;
  margin-right: 10px;
  margin-left: 5px;
  background-color: white;
  border-radius: 10px;
  width: auto;
  padding: 5px;
  color: black;
}

@media screen and (max-width: 900px) {
  .simulatedWrapper {
    width: calc(100% - 30px);
    max-width: 100%;
  }
  .simulatedText {
    font-size: 12px;
  }
  .simulatedDate {
    font-size: 12px;
  }
  .simulatedQuestions {
    font-size: 12px;
  }
  .labelDateAndQuestions {
    font-size: 12px;
  }
  .simulatedInfo {
    font-size: 12px;
  }
  .mediaAcertos,
.simulatedsRealized {
  width: calc(
    70% - 10px
  ); /* Ajustei a largura para ocupar metade do espaço disponível */
  height: 30px;
  color: white;
  background-color: #0693fa;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px; /* Reduzi um pouco o tamanho da fonte */
  margin-top: 10px; /* Adicionei margem superior para separar os elementos */
  padding: 5px;
  text-align: center;
}
.generateSimulated {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  width: 100%;
  margin-right: 0px;
  text-align: center; /* Adicionado para centralizar o conteúdo */
}
.userName {
  color: #161616;
  font-weight: bold;
  font-size: 18px; /* Reduzi um pouco o tamanho do nome de usuário */
  margin-bottom: 0px;
}
}
