a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #0ea764;
    justify-content: space-between;
    padding: 0px;
}

.links{
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 40px;
    margin-right: 71px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.logoNav{
    margin-right: 25px;
}