.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #0D4688;
    justify-content: space-between;
    padding: 0 50px;
}

.nav-container {
    display: flex;
    align-items: center;
}
#responsive-navbar-nav {
  display: block;
  justify-content: center;
  align-items: center;
}
.logo-container,
.search-container {
    margin-right: 25px;
    
}

#collasible-nav-dropdown {
    color: #fff;
    font-size: 18px;
}

.LinksNav {
    display: flex;
    gap: 20px; 
    align-items: center;
}

.LinksNav a {
    text-decoration: none; 
    color: white; 
}

.navbar-nav {
    display: flex;
    gap: 0px;
    align-items: center;
}

.logoNav {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.input-group {
    opacity: 0.76;
} */

.navbar-collapse {
    flex-grow: 0;
}

.navLinks {
    margin-left: 15px;
    color: white; 
    padding-bottom: 3px;
    padding-right: 15px;
    font-size: 18px;
    text-decoration: none;
    font-family: "Inter", sans-serif;

}

