a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #0D4688;
    justify-content: space-between;
    padding: 0px;
}

.links {
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 40px;
    margin-right: 71px;
    align-items: center; /* Adicionando alinhamento vertical */
}

.navLinks {
    color: white;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.navLinks:hover {
    color: rgb(230, 224, 224);
}

/* .active {
    color: white;
} */

.navLinkPrepareButton {
    color: #0E3975;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: auto;
}

.navLinkPrepareButton:hover {
    background-color: #0c2b5d;
    color: #ffffff;
}

.logoNav {
    width: 340px !important; 
    margin-right: 25px;
    cursor: pointer;
}

.input-group {
    opacity: 76%;
}
