.bg-box-landing-page{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: 1px solid #ffffffa4;
}
.title-landing{
    font-size: 4rem;
}

.btn-acessar {
    background-color: black;
    color: white;
    border-radius: 20px; 
    padding: 12px 50px;
    border: none;
    font-weight: 500;
    transition: 0.5s;
    border: 2px solid transparent;
}

.btn-acessar:hover {
    border-color: #0D4688;
    transition: 0.5s;
}