.QuestionRegistrationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.QuestionRegistrationTitle h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #0e3975;
  text-align: center;
}

.QuestionRegistrationSelectsAndCheckboxes {
  display: flex;
  gap: 800px;
  justify-content: left;
  width: 1250px;
}

.selectCourse,
.selectNaoSei {
  padding: 0px;
  margin: 10px;
  margin-left: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  background-color: #f5f5f5;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.selectCourse:hover,
.selectNaoSei:hover {
  transform: translateY(-1.5px);
}

.QuestionRegistrationSelectsAndCheckboxes select {
  padding: 5px;
  font-size: 16px;
}

.QuestionRegistrationInputs {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1389px; /* Define uma largura máxima para centralização */
}

.inputQuestion {
  margin-bottom: 5px;
  margin-top: 12px;
  margin-left: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  background-color: #f5f5f5;
  width: 100%;
  resize: none; 
  overflow: hidden;
}

.QuestionRegistrationAlternatives {
  margin-top: 20px;
  width: 100%;
  max-width: 1400px; /* Define uma largura máxima para centralização */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.optionInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputOption {
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  resize: none; 
  overflow: hidden;
}

.removeOptionButton {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.removeOptionButton:hover {
  background-color: darkred;
}

.correctOptionCheckbox {
  margin-left: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 0 0 0 rgba(0, 204, 0, 0.4);
}

.correctOptionCheckbox:checked {
  box-shadow: 0 0 5px 3px rgba(0, 204, 0, 0.4);
}

.QuestionRegistrationButtonsHolder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin-top: 20px;
  padding-left: 23px;
}

.addOptionButton {
  margin-top: 10px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  background-color: #0e3975;
  color: white;
  border: none;
  outline: none;
  transition: 0.5s;
}

.addOptionButton:hover {
  background-color: #07224b;
  transform: scale(1.05);
}

.registerQuestionButton {
  background-color: #0fa958;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  height: 3rem;
  color: white;
  border-radius: 10px;
  padding: 5px 100px;
  border: none;
  transition: 0.5s;
  border: 2px solid transparent;
  margin-top: 15px;
}

.registerQuestionButton:hover {
  background-color: #078f46;
  transform: scale(1.05);
}

.checkboxSimulated {
  /* Estilo do checkbox em si */
  appearance: none; /* Remove o estilo padrão do sistema */
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  outline: none; /* Remove a borda ao focar */
  cursor: pointer;
  vertical-align: middle;
  margin-right: 5px; /* Espaçamento entre o checkbox e o texto */
  position: relative; /* Posição relativa para facilitar a posição do checkmark */
  background-color: white; /* Cor de fundo do checkbox */
}

.checkboxSimulated:checked::after {
  /* Estilo do checkmark quando o checkbox está marcado */
  content: '\2714'; /* Conteúdo do checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o checkmark */
  font-size: 14px; /* Tamanho da fonte do checkmark */
  color: #000; /* Cor do checkmark */
}
.checkboxLabelSimulated{
  margin-left: 5px;
  display: flex;
  align-items: center;
}